<div class="wrapper-grey2 padded text-center">
  <h1>Welcome, <%= @current_user.first_name.capitalize %>!</h1>
  <h3>Your listings:</h3>
  <div class="container">
    <div class="row">
      <% current_user.equipment.each do |equipment| %>
      <div class="col-xs-12 col-sm-4">
        <% if equipment.photo? %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path equipment.photo.path %>);">
          <% end %>
          <div class="card-category"><%= equipment.title %></div>
          <div class="card-description">
            <p><%= equipment.description %></p>
          </div>
          <%= cl_image_tag equipment.user.avatar.path, class: "card-user avatar" %>
          <%= link_to "", equipment_path(equipment), class: 'card-link'  %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>






