<h1>Enter the details of your new listing below:</h1>
<%= simple_form_for(@equipment, url: account_equipment_index_path) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :photo, as: :attachinary %>
  <%= f.submit %>
<% end %>
