<div class="wrapper-grey padded">
  <div class="header">
    <h3 class="text-center", id="popular">Popular rentals
      <% 5.times do %>
      <i class="fa fa-star" aria-hidden="true"></i>
      <% end %>
    </h3>
  </div>
  <div class="container">
    <div class="row">
      <% equipment.each do |current_equipment| %>
      <div class="col-xs-12 col-sm-4", id="popular-card">
        <%= link_to (equipment_path(current_equipment)) do %>
        <% if current_equipment.photo? %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path current_equipment.photo.path %>);">
          <% else %>
          <div class="card">
            <% end %>
            <div class="card-description">
              <h2><%= current_equipment.title %></h2>
              <p><%= current_equipment.description %></p>
            </div>
            <%= cl_image_tag current_equipment.user.avatar.path, class: "card-user avatar" %>
            <%= link_to "", equipment_path(current_equipment), class: 'card-link'  %>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
