<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="team-card text-center">
        <div class="team-img">
          <%= image_tag "petya.jpg" %>
        </div>
        <div class="person-info text-center">
          <h3>Petya Nikolova</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos deleniti debitis, recusandae quaerat saepe accusantium placeat tempore minima atque animi nobis blanditiis, temporibus vitae ipsam officiis at itaque deserunt praesentium!
          </p>
        </div>
        <div class="person-links">
          <ul class="list-inline">
            <li>
              <%= link_to "https://uk.linkedin.com/in/petya-nikolova-084593a8", target: "blank" do %>
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "https://github.com/petia182", target: "blank" do %>
                <i class="fa fa-github-alt" aria-hidden="true"></i>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="team-card text-center">
        <div class="team-img">
          <%= image_tag "phelim.jpg" %>
        </div>
        <div class="person-info text-center">
          <h3>Phelim Dunleavy</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos deleniti debitis, recusandae quaerat saepe accusantium placeat tempore minima atque animi nobis blanditiis, temporibus vitae ipsam officiis at itaque deserunt praesentium!
          </p>
        </div>
        <div class="person-links">
          <ul class="list-inline">
            <li>
              <%= link_to "https://uk.linkedin.com/in/phelim-dunleavy", target: "blank" do %>
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "https://github.com/pdunleav", target: "blank" do %>
                <i class="fa fa-github-alt" aria-hidden="true"></i>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
